extends layout
append scripts
    //script(src='/javascripts/edit_article.js')
    script(src='/javascripts/lib/jquery.classyqr.js')
    script(src='/javascripts/qrcode.js')

block content
    h1=title
        |&nbsp
        a(href="/article/input")
            input.insert(type='button', value='Insert new article')
        .primary.articleDiv
            p Primary
        .articleDiv
            p Secondary
    hr
    each article in articles
        div(class="#{article.primary ? 'articleDiv primary' :'articleDiv'}")

            h2.id=article.id
            h2.title(contenteditable='true')= article.title
            p.article(contenteditable='true')=article.article
            each category,i in article.categories
                a(href="/article/category/#{category.title}") #{category.title}
                |&nbsp
            p Written at &nbsp
                span.date(contenteditable='true')= article.date
            br
            hr
            if article.primary
              if('undefined' !== typeof(article.secondaries))
                form(action="/article/#{article.id}/rmsecondaries", method="post")
                    label Already added secondaries (multi select):
                        select(name="id[]",multiple="true",size=article.secondaries.length)
                             each secondary,i in article.secondaries
                                 option(value=secondary.id) ID #{secondary.id}: #{secondary.title}
                    br
                    input.insert(type="submit",value="Remove Secondary")

              if('undefined' !== typeof(article.secondaryArticles))
              .selectSecondaryDiv
                form(action="/article/#{article.id}/addsecondaries", method="post")
                    label Secondary(multi select):
                    br
                    select(name="id[]",multiple="true",size="8")
                            each secondary,i in article.secondaryArticles
                                option(value=secondary.id) ID #{secondary.id}: #{secondary.title}
                    br
                    input.insert(type="submit",value="Add Secondary")



              .qrDiv

                   a.qrCodeURL(href="/article/qrcode/#{article.id}")
                     img.qrcode
                   p.qr http://der-zeitkurier.de?id=#{article.id}
            .articleFooter
