extends layout

block content
    h1=title

    hr
    each article in articles
        .articleDiv
            h2.id=article.id
            h2.title(contenteditable='true')= article.title
            p.article(contenteditable='true')=article.article
            each category,i in article.categories
                a(href="/article/category/#{category.title}") #{category.title}
                |&nbsp
            span.categories(contenteditable='true') new category
            p Written at &nbsp
                span.date(contenteditable='true')= article.date
            br
            .articleFooter
                a(href="/article/input")
                    input.insert(type='button', value='Insert new article')



