extends layout

block content
    h1=title

    hr
    each article in articles
        .article
            h2.id=article.id
            h2= article.title
            p=article.article
            each category,i in article.categories
                a(href="/article/category/#{category.title}") #{category.title}
            P Written at #{article.date}
            br
            a.insert(href="/article/input") Insert new article



