extends layout
append scripts
    script(src='/javascripts/edit_article.js')

block content
    hr
    .articleDiv

        h2.id=article.id
        h2.title(contenteditable='true')=article.title
        p.article(contenteditable='true')=article.article
        p.date(contenteditable='true')=article.date
        .articleFooter
            form(action="/article/#{article.id}/delete")
                input.insert(type='submit',value='Delete Article')
